<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/mkoi/src/mkoi/gui/JavaFxTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;mkoi&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/mkoi/lib/theodor.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mkoi.gui.JavaFxTest"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mkoi"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-p /Users/adrian/Downloads/javafx-sdk-12.0.1/lib --add-modules javafx.controls,javafx.fxml"/>
</launchConfiguration>
